body
{
    background: url(image/backpic1.jpg)center no-repeat;/*image de fond du site*/
    background-size: cover;
    overflow-y: hidden;/*éviter le défilement de la page*/
    min-height: 100vh;
}

#corp
{
    width: 100%;
  
}
  
  .texte_centrer {
    position: absolute;
    top: 11%;/*disposition du titre depuis le haut de page*/
    left: 38%;/*disposition du titre depuis la gauche de page*/
    font-size: 90px;/*taille du texte*/
    color:darkgoldenrod;/*couleur texte*/
    text-decoration: underline;/*line en dessous du texte*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*police d'écriture*/
  }
/*SECTION POUR MODIFIER INTERIEUR BARRE NAV*/
  *{
    margin: 0;
    padding: 0;/*taille des cellules*/
    font-size: 25px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    width: 99%;/*taille de la barre nav*/
    margin: 5px auto;/*modifie l'espacement avec le haut de page*/
    background-color: rgb(92, 92, 92);
    position: hidden;/*propriéter de la barre nav par rapport à l'overflow-y*/
    top: 0px;
    border-style: solid;/*bordure barre nav*/
    border-color: white;
  }

  nav ul{
    list-style-type: none;/*évité d'avoir un style sur les cellules (un point par defaut)*/
}

nav li{
    float: left ;/*sens de lecture*/
    width: 16%;/*divise par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}


nav ul::after{/*Evite que le menu n'ait une hauteur nulle*/
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 15px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: rgb(255, 0, 0);/*couleur séléction*/
    border-bottom: 5px solid rgb(255, 0, 0);/*couleur bordure du bas des cellules*/
}

