body
{
    background-image: url(image/backpic1.jpg);
    background-size: 100%;
    overflow-y: hidden;
}

#corp
{
    width: 100%;
  
}


.background {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    width:100%;
    height:100%;
    background-size: 100%;
  }
  
  .texte_centrer {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color:darkgoldenrod;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  *{
    margin: 0px;
    padding: 0px;
    font-size: 25px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    width: 99.5%;
    margin: 5px auto 50px auto;
    background-color: rgb(92, 92, 92);
    position: sticky;
    top: 0px;
    border-style: solid;
    border-color: white;
  }

nav ul{
    list-style-type: none;
}

nav li{
    float: left ;
    width: 16%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}


nav ul::after{/*Evite que le menu n'ait une hauteur nulle*/
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 15px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: rgb(255, 0, 0);
    border-bottom: 5px solid rgb(255, 0, 0);
}

  .conteneur
  {
    margin: 0px 20px;
    height: 1500px;
    color: rgb(255, 255, 255);
  }